<div class="form-group">
  <label class="col-md-2 control-label">
    Owner
  </label>
  <div class="col-md-10">
    <p class="help-block"><%= current_user.email %></p>
  </div>
</div>

<div class="form-group">
  <%= f.label :name, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <%= f.text_field :name, class: "form-control", placeholder: "Season Name" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :events, class: "col-md-2 control-label" %>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-body fields-container">

        <%= f.fields_for :events do |ff| %>
          <%= render 'event_fields', f: ff %>
        <% end %>

        <button type="button" class="btn btn-default btn-sm" onclick="add_fields(this)">Add Season</button>

      </div>
    </div>
  </div>
</div>
