<h1>New Season</h1>

<%= form_for @season, html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :name, class: "form-control", placeholder: "Season Name" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :events, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body fields-container">

          <%= f.fields_for :events do |ff| %>
            <div class="form-group row fields">
              <div class="col-md-3">
                <%= ff.text_field :start_date, class: "form-control datepicker", data: { provide:'datepicker' },
                  placeholder: "Start Date"%>
              </div>

              <div class="col-md-2">
                <%= ff.number_field :duration, class: "form-control", placeholder: "Duration" %>
              </div>

              <div class="col-md-3">
                <%= ff.text_field :location, class: "form-control", placeholder: "Location" %>
              </div>

              <div class="col-md-2">
                <%= ff.text_field :station, class: "form-control", placeholder: "Station" %>
              </div>

              <div class="col-md-1">
                <%= link_to "remove", "javascript:void(0);", class: "remove_link",
                      onclick: "remove_fields(this)"%>
              </div>

              <%= ff.hidden_field :_destroy, class: "hidden-destroy" %>
            </div>
          <% end %>

          <button type="button" class="btn btn-default btn-sm" onclick="add_fields(this)">Add Season</button>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
