<h1>Dashboard</h1>

<%= link_to "Seasons", seasons_path %>

<% @seasons.each do |season| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-heading-text"><%= link_to season.name, season_path(season), class: "undecorrated-link" %></h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <% season.events.each do |event| %>
          <div class="col-md-3">
            <%= link_to(event, class: "undecorrated-link") do %>
              <div class="thumbnail">
                <h4><%= event.station %></h4>
                <p><i><%= event.location %></i></p>
                <p><i><%= event.start_date.strftime("%B %d, %Y") %></i></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
