<h1>Dashboard</h1>

<% @seasons.each do |season| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-heading-text"><%= link_to season.name, season_path(season), class: "undecorrated-link" %></h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <% season.events.each do |event| %>
          <div class="col-md-3">
            <%= link_to(event, class: "undecorrated-link") do %>
              <div class="thumbnail">
                <h4 class="event-thumbnail-heading"><%= event.station %></h4>
                <p>
                  <i><%= event.location %></i>
                </p>

                <% if event.is_completed? %>
                  <!-- TODO scope to user's forecast once user is introduced -->
                  <div class="row">
                    <div class="col-md-4">
                      <p>
                        Score:
                      </p>
                    </div>
                    <div class="col-md-8">
                      <p>
                        <%= event.forecasts.first.score %>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <p>
                        Position:
                      </p>
                    </div>
                    <div class="col-md-8">
                      <p>
                        4 / 28
                      </p>
                    </div>
                  </div>
                <% else %>
                  <div class="row">
                    <div class="col-md-3">
                      <p>
                        Due:
                      </p>
                    </div>
                    <div class="col-md-9">
                      <p>
                        <%= event.start_date.strftime("%H:%M %Z - %m.%d.%Y") %><br>
                        <span style="color: red;">( in 4 hours )</span>
                      </p>
                    </div>
                  </div>
                <% end %>

              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
