<div class="row">
  <div class="panel panel-default col-md-4 col-md-offset-4">
    <div class="panel-body">
      <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <hr>
        <div style="margin-bottom: 20px;">
          <h3 style="margin-bottom: 0px;">Update password</h3>
          <i>(Leave blank if you don't want to change it)</i><br />
        </div>

        <div class="form-group">
          <%= f.password_field :password, class: "form-control", placeholder: "New Password", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation",  autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.password_field :current_password, class: "form-control", placeholder: "Current Password", autocomplete: "off" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "Update", class: "btn btn-success" %>
        </div>
      <% end %>

      <hr>

      <h3>Delete my account</h3>
      <p>Unhappy?  <br>Delete your account with the click of a button.</p>

      <div class="actions text-center">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
      </div>
      <hr>

      <div class="text-center">
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
