<%= form_for @forecast, html: { class: "form-horizontal" } do |f| %>

  <div class="form-group">
    <%= f.label :high_temp, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.number_field :high_temp, step: 1, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :low_temp, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.number_field :low_temp, step: 1, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :precipitation, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.number_field :precipitation, step: 0.01, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :wind, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.number_field :wind, step: 1, min: 0, class: "form-control" %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
